@model LoggingMonkey.Web.Models.SearchModel
@using LoggingMonkey.Web.Helpers

@using (Html.BeginForm("Index", "Main", FormMethod.Get, new { id = "homeForm" }))
{
	@Html.TextBoxFor(x => x.Nickname, new { placeholder = "nick", autofocus = true })
	<span class="madlib-label">said</span>
	@Html.TextBoxFor(x => x.Message, new { placeholder = "message" })
    <span class="madlib-label">in</span>
    @Html.DropDownListFor(x => x.ChannelId, Html.ChannelsList())
	
	<button type="submit">Search</button>
	
	<p class="right"><a href="#" id="showOptions"><i class="icon-chevron-sign-right"></i> More Options</a></p>
	
	<div id="advancedSearch" class="clearfix">
		<h3 style="margin-top: 0;">Advanced Search Options</h3>

		<section>
			<div class="controls">
				@Html.LabelFor(x => x.Username)
				@Html.TextBoxFor(x => x.Username)
			</div>
			<div  class="controls">
				@Html.LabelFor(x => x.Hostname)
				@Html.TextBoxFor(x => x.Hostname)
			</div>
		</section>

	    <section>
	        <div class="controls">
	            @Html.LabelFor(x => x.FromDate)
	            @Html.TextBoxFor(x => x.FromDate, new {@class = "datetimepicker", @Value = Html.GetDateFromDisplayOptions(Model.FromDate)})
	            <i style="position: relative; left: -25px; top: -1px;" class="icon-calendar"></i>
	        </div>
	        <div class="controls">
	            @Html.LabelFor(x => x.ToDate)
	            @Html.TextBoxFor(x => x.ToDate, new {@class = "datetimepicker", @Value = Html.GetDateFromDisplayOptions(Model.ToDate)})
	            <i style="position: relative; left: -25px; top: -1px;" class="icon-calendar"></i>
	        </div>
	    </section>
        
	    <section id="matchCaseOptions">
	        <div class="controls">
	            <label>Match using</label>
	            @Html.DropDownListFor(x => x.MatchType, Html.MatchTypesList())
	        </div>
	        <div id="caseSensitiveOption" class="controls">
	            <label><input type="checkbox" /> Case Sensitive</label>
	        </div>
	    </section>
        
	    <section style="clear:both; margin-top: 15px;">
	        <div class="controls">
	            @Html.LabelFor(x => x.Context)
                @Html.TextBoxFor(x => x.Context)
	        </div>
	    </section> 
	</div>
}
